<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ruslan "Yshmeel" Yusupov</title>
    <link rel="stylesheet" href="src/css/app.css">
</head>
<body>
    <div id="root">
        <div class="centered__block">
            <div class="centered__header">
                <animated-title v-bind:text1="title" v-bind:text2="titleAnimated"></animated-title>
            </div>
            <div class="centered__desc">
                <p>About me</p>
                <p>{{ authorDesc }}</p>
            </div>
            <div class="centered__skills">
                <p>Skills</p>
                <ul>
                    <li>Frontend:
                        <b>{{ frontend }}</b>
                    </li>
                    <li>Backend: 
                        <b>{{ backend }}</b>
                    </li>
                </ul>
            </div>
            <div class="centered__contact">
                <p>Contact me</p>
                <ul v-if="contacts != undefined">
                    <template v-for="contact in contacts">
                        <li>{{ contact.name }}:
                            <a v-bind:href="contact.href" target="_blank">{{ contact.hrefName }}</a>
                        </li>
                    </template>
                </ul>
            </div>
        </div>
        
    </div>
    <script src= "./dist/bundle.js"></script>
</body>
</html>